@import './modules/_vars.scss';
@import './modules/_navigation.scss';
@import './modules/_about.scss';
@import './modules/_work.scss';
@import './modules/_project.scss';
@import './modules/_contact.scss';
@import './modules/_footer.scss';

// gotham bold italic for footer nav
// gotham bold for nav
// gotham black for big headers
// gotham bold for small headers
// dm sans for paragraph text

.wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.router-anim-leave-active {
    animation: testLeave 1.5s ease-in-out;
    animation-fill-mode: forwards;
    height: calc(100vh - 96px);
    position: absolute;
    left: 5%;
    width: 90%;

    .about__img {
      right: 6.65%;
      bottom: 3.6%;
    }
  }
  .router-anim-enter-active {
      position: absolute;
    animation: testEnter 1.5s ease-in-out;
    animation-delay: 0s;
    left: 5%;
    height: calc(100vh - 96px);
    width: 90%;

    .about__img {
      right: 6.65%;
      bottom: 3.6%;
    }
  }
  
  @keyframes testLeave {
    0% {transform: translateX(0); overflow: hidden;}
    100% {transform: translateX(-100vw);}
  }
  @keyframes testEnter {
    0% {transform: translateX(100vw); overflow: hidden;}
    100% {transform: translateX(0);}
  }

  .router-anim-leave-active {
    animation: testLeave 1.5s ease-in-out;
    animation-fill-mode: forwards;
    height: calc(100vh - 96px);
    position: absolute;
    left: 5%;
    width: 90%;

    .about__img {
      right: 6.65%;
      bottom: 3.6%;
    }
  }


  .test-leave-active {
    animation: testLeave2 1s ease-in-out;
    animation-fill-mode: forwards;
    height: calc(100vh - 96px);
    position: absolute;
    left: 5%;
    width: 90%;

    .about__img {
      right: 6.65%;
      bottom: 3.6%;
    }
  }

  .test-enter-active {
      position: absolute;
    animation: testEnter2 1s ease-in-out;
    animation-delay: 0s;
    left: 5%;
    height: calc(100vh - 96px);
    width: 90%;

    .about__img {
      right: 6.65%;
      bottom: 3.6%;
    }
  }

  @keyframes testLeave2 {
    0% {transform: translateY(0); overflow: hidden;}
    100% {transform: translateY(-100vh);}
  }
  @keyframes testEnter2 {
    0% {transform: translateY(100vh); overflow: hidden;}
    100% {transform: translateY(0);}
  }