.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &__wrapper {
        width: 81%;
        margin: 15% auto 3%;
    }

    &__title {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        margin: 20px 0 10px;
        text-transform: uppercase;
    }

    &__para {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 146%;
    }

    &__img {
        width: 47%;
        margin: 0 auto;
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom 0.5s ease-in-out;
    }
}