.about {
    display: flex;
    width: 90%;
    margin: 0 auto;

    &__wrapper {
        width: 681px;
        margin-left: 15%;
        margin-top: 9%;
    }

    &__title {
        font-family: 'Gotham';
        width: 713px;
        font-style: normal;
        font-weight: 900;
        font-size: 66px;
        margin: 20px 0;
        text-transform: uppercase;
    }

    &__para {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 146%;
    }

    &__img {
        width: 600px;
        position: absolute;
        // left: 784px;
        right: 11%;
        bottom: 6%;
    }
}