.about {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    &__wrapper {
        width: 90%;
        margin: 22% auto 3%;
    }

    &__title {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        margin: 20px 0 10px;
        text-transform: uppercase;
    }

    &__para {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 146%;
    }

    &__img {
        width: 70%;
        margin: 0 auto;
    }
}