@media screen and (min-width: 1600px) {
    .work {
        width: 90%;
    }

    .router-anim-leave-active, .router-anim-enter-active, .test-leave-active, .test-enter-active {
        width: 90%;
        left: 5%;
    }
}