@media screen and (min-width: 375px) and (min-height: 800px) {
  .about {
    &__para {font-size: 20px;}

    &__img {
      width: 70%;
      bottom: 8%;
    }
  }

  .swiper-container {
    margin-top: 24%;

    .swiper-slide, .swiper-slide-duplicate, .swiper-slide-duplicate-prev, .swiper-slide-duplicate-next {
      width: 70% !important;
    }
  }

  .contact {
    height: 85vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 390px) {
  .about {
    &__wrapper { margin-top: 21%; }

    &__title { font-size: 30px; }

    &__para { font-size: 20px; }

    &__img {
      width: 70%;
      bottom: 7.5%;
    }
  }

  .swiper-image {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 600px) {
  .buttonNav {
    &__title { font-size: 24px; }
  }

  .nav {
    height: 84px;
  }

  .about {
    &__img {
      width: 48%;
      bottom: 3%;
    }

    &__title {
      font-size: 52px;
      margin: 20px auto 10px;
      width: 86%;
    }

    &__para {
      font-size: 24px;
      margin: 0 auto;
      width: 86%;
    }

    &__img {
      width: 45%;
      bottom: 6.5%;
    }
  }

  .swiper-wrapper {
    height: 75vh !important;
  }

  .swiper-container {
    margin-top: 22%;
    .swiper-slide, .swiper-slide-duplicate, .swiper-slide-duplicate-prev, .swiper-slide-duplicate-next {
      width: 64% !important;
    }

    .swiper-image {
      padding: 9%;
      width: 91%;
    }
  }

  .work {
    &__title {
      display: none;
      font-size: 18px;
    }
  }

  .project {
    section:last-child {
      padding-bottom: 10%;
    }

    &__hero {
      &Image {
        max-height: 508px;
      }
    }

    &__title {
      font-size: 66px;

      &--small {
        font-size: 40px;
      }
    }

    &__text {
      width: auto;

      &--small {
        font-size: 18px;
      }
    }

    &__tools {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 100px;
    }

    &__divider {
      display: block;
      width: 2px;
      height: 140px;
      background-color: #000;
      align-self: flex-end;
      margin: 0 10%;
    }

    &__processItem {
      width: 60%;
      margin: 40px auto;
      p { 
        font-size: 16px; 
        width: 80%;
        margin: 0 auto;
      }

      img { height: 250px; }
    }
  }

  .contact {
    &__title { 
      font-size: 36px; 
      margin-bottom: 20px;
    }

    &__form {
      width: 69%;
    }

    &__input {
      padding: 14px 10px;
      margin: 15px 0;
    }

    &__submit {
      padding: 17px 0;
      margin: 0;
    }
  }
  
}

@media screen and (min-width: 800px) {
  .about {
    &__wrapper { margin-top: 14%; }
    &__title { font-size: 50px; }
    &__para { font-size: 28px; }
  }
  .swiper-wrapper {
    height: 70vh !important;
  }
  .swiper-container {
    margin-top: 20%;
    .swiper-slide, .swiper-slide-duplicate, .swiper-slide-duplicate-prev, .swiper-slide-duplicate-next {
      width: 50% !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .overlay {
    display: none;
  }
    .work {
        width: 100%;
    }

    .router-anim-leave-active {
        height: calc(100vh - 96px);
      
        .swiper-wrapper {
          justify-content: center;
        }
      
        // put the last swiper-slide first
        .swiper-slide {
          margin-right: 30px;
        }
        .swiper-slide:first-child {
          filter: grayscale(0);
          background-color: rgb(73, 70, 101);
        }
      
        .swiper-slide:nth-child(3) {
          display: none;
        }
      
        .swiper-slide:last-child {
          order: -1;
        }
      }
        .router-anim-enter-active {
          height: calc(100vh - 96px);
        }

        @keyframes testLeave {
            0% {transform: translateX(0); overflow: hidden;}
            100% {transform: translateX(-100vw);}
          }
          @keyframes testEnter {
            0% {transform: translateX(100vw); overflow: hidden;}
            100% {transform: translateX(0);}
          }

    .about {
        flex-direction: row;
        &__wrapper {
            width: 681px;
            margin-left: 15%;
            margin-top: 8%;
        }
    
        &__title {
            width: 713px;
            font-size: 66px;
            margin: 20px 0;
        }
    
        &__para {
            font-size: 38px;
            width: 100%;
        }
    
        &__img {
            width: 620px;
            position: absolute;
            // left: 784px;
            right: 11%;
            bottom: 6.5%;
            left: initial;
            transform: translateX(0);
        }
    }

    .nav {
        height: 70px;
    
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: initial;
            align-items: initial;
            width: auto;
            position: initial;
            top: initial;
            left: initial;
            height: initial;
            background: transparent;
            z-index: initial;
        }
    
        &__link {
            font-family: 'Gotham';
            font-weight: 600;
            color: black;
            text-decoration: none;
            font-size: 16px;
            margin: 0 30px;
        }

        &__menuIcon {
          display: none;
        }
    }

  .work {
    width: 100%;

    &__wrapper {
        padding-top: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 133px;
    }

    &__item {
        object-fit: contain;
        text-decoration: none;
        width: 270px;
    }

    &__image {
        
        img {
            width: 100%;
            height: 515px;
            box-sizing: border-box;
            object-fit: contain;
            padding: 8%;
            margin: 16% 0 8%;
            box-shadow: 18px 17px 16px -1px rgba(0, 0, 0, 0.12);
        }
    }

    &__title {
        text-align: center;
        font-family: 'DM Sans';
        color: black;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
    }
  }

  .contact {
    height: auto !important;
    padding-top: 3%;
    margin-top: 0;
    &__title {
        width: 466px;
        margin: 0 auto 24px;
        font-size: 32px;
    }
    &__form {
        width: 80%;
        max-width: 466px;
        margin: 0 auto;
    }

    &__input {
        width: 100%;
        padding: 11px;
        box-sizing: border-box;
        margin: 12px 0;
        border: solid 3px black;
        background-color: #282828;
        color: #fff;
        font-family: $body-font;
        font-size: 18px;

        &::placeholder {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

        // mozilla placeholder
        &:-moz-placeholder {
            color: #fff;
            opacity: 1;
        }

        &--message {
            height: min(35vw, 168px);
        }
    }

    &__label {
        display: none;
    }

    &__submit {
        width: 170px;
        padding: 14px 0;
        text-align: center;
        text-transform: uppercase;
        font-family: $body-font;
        font-weight: bold;
        background-color: #282828;
        border: solid 3px black;
        color: white;
        font-size: 18px;
        margin: 0;
    }
}

  .buttonNav {
    top: initial;
    bottom: 14%;
    left: 14.5%;
    transform: translate(0,0);

    &__title {
      text-align: left;
      margin: 13px;
    }
  }

  .footer {
    height: 62px;
    &__wrapper {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
  }

.project {
  section:last-child {
    padding-bottom: 70px;
  }
  &__content { 
    width: 100%;
  }

  &__textContent {
    width: 80%;
    margin: 0 auto;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 66px;
    margin: 25px 0;

    &--small {
      font-size: 40px;
      margin: 19px 0;
    }
  }

  &__text {
    &--small {
      font-size: 18px;
    }
  }

  &__image {
    margin: 80px auto !important;
    width: 100%;
  }

  &__body {
    margin-bottom: 90px;
  }

  &__process {
    width: 80%;
  }

  &__processWrapper {
    gap: 60px;
  }

  &__tools {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
  }

  &__roles {
    position: relative;
  }

  &__divider {
    display: block;
    width: 2px;
    height: 140px;
    background-color: #000;
    align-self: flex-end;
    margin: 0 15%;
  }

  &__processItem {
    width: 86%;
    display: flex;
    flex-direction: column;

    h2 {
      margin: 35px 0 5px;
    }

    p {
      font-size: 18px;
      width: 100%;
    }

    img {
      width: 100%;
      order: 1;
      height: 250px;
      margin: 40px 0;
      // fit content
      object-fit: contain;
      order: initial;
    }
  }
}
    
}